html,
body {
    height: 100%;
}

img {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px

	-webkit-box-shadow: 0px 2px 5px #000;
	-moz-box-shadow: 0px 2px 5px #000;
	-o-box-shadow: 0px 2px 5px #000;
	box-shadow: 0px 2px 5px #000;
}

img .center {
	display: block;   
	margin-left: auto;
	margin-right: auto;
}

div .image_bg {
    background-image: url('images/primary_photo_bg.jpg');
    background-repeat: no-repeat;
    padding-top: 1.85em;
}

p {
	font-size: 125%;
}

/*-- CUSTOM CLASSES -----------------------------------------*/

.header_text {
	font-size: 40px;
	color: #fff;
}

.right_border {
	height:350px;
	border-right:1px solid #666;
	padding-right: 5px;
}

.light_grey_bg {
	background-color: #ccc;
}

/*-- END CUSTOM CLASSES -------------------------------------*/




/*-- STICKY FOOTER ------------------------------------------*/
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push,
#footer {
    height: 60px;
}

.footer {
	padding: 5px 5px 5px 5px;
	color: #fff;
	background: #222;
}

.footer_content {
	float: right;
}
/*-- END STICKY FOOTER --------------------------------------*/