html,
body {
    height: 100%;
}

img {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px

	-webkit-box-shadow: 0px 2px 5px #000;
	-moz-box-shadow: 0px 2px 5px #000;
	-o-box-shadow: 0px 2px 5px #000;
	box-shadow: 0px 2px 5px #000;
}

img .center {
	display: block;   
	margin-left: auto;
	margin-right: auto;
}

div .center800 {
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div .center600 {
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div .center400 {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div .instructor_right_border {
	float: left;
	margin-left: 20px;
	width: 275px;
	border-right:1px solid #666;
	padding-right: 10px;
}

div .instructor_no_border {
	float: left;
	margin-left: 20px;
	width: 275px;
}

div .image_bg {
    background-image: url('images/primary_photo_bg_bw.jpg');
    background-repeat: no-repeat;
    padding-top: 1.85em;
}

p {
	font-size: 125%;
}

/*-- CUSTOM CLASSES -----------------------------------------*/

.header_text {
	font-size: 40px;
	color: #fff;
}

.right_border {
	height:350px;
	border-right:1px solid #666;
	padding-right: 5px;
}

.light_grey_bg {
	background-color: #ccc;
}

/* FORMS */

form label {
	font-size: 150%;
	margin-top: 10px;
}

form:first-child {
	margin-top: 0;
}

input[type="text"] {
	width: 250px;
}

input[type="email"] {
	width: 350px;
}

/* END FORMS */


/*-- END CUSTOM CLASSES -------------------------------------*/




/*-- STICKY FOOTER ------------------------------------------*/
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}
#push,
#footer {
    height: 70px;
}

.footer {
	padding: 5px 5px 5px 5px;
	color: #fff;
	background: #222;
}

.footer_content_right {
	float: right;
	line-height: 50px;
}

.footer_content_left {
	float: left;
	line-height: 50px;
}
/*-- END STICKY FOOTER --------------------------------------*/